*{
    padding:0px;
    margin:0px;       
}

/* --------------FONTS--------------*/

@font-face {
    font-family:'PermanentMarker-Regular' ;
    src: url('PermanentMarker-Regular.ttf');
}



/* --------------GRID--------------*/
.container{
    background-image: url('beach2.jpg');
    background-size: cover;
}


.container {     
    border-bottom: 50px solid rgb(2, 2, 128);
    display:grid;
    grid-gap:10px;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
    grid-template-rows: 0.7fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    'nav nav nav nav'
    'sidebar main main main'
    'sidebar content1 content2 content3'    
    'sidebar footer footer footer'    
}

nav{   
    background-color: #fff;
    grid-area: nav;
}
main{
    grid-area: main;
}

.main1{
    line-height: 40px;
    margin: 30px;
    font-size: 100%;
    font-family: PermanentMarker-Regular;
    text-align: justify;
}

.sidebar {
    grid-area: sidebar;
}


.content1 { 
    background-image: url('Background.jpg');   /*  remember this photo positioning it works very well */
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
    grid-area: content1;
}
.content2 {
    background-image: url('Bikegc.jpg');
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
    grid-area: content2;
}
.content3 { 
    background-image: url('Senderismo.jpg');
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
    grid-area: content3;
}
footer{
    
    grid-area:footer;
}


/*---------------------------CONTENT STYLES---------------------------*/




/*--------------------------NAVBAR--------------------------------------*/


.explore {  
    font-size: 300%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: PermanentMarker-Regular;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.explore a {
    text-decoration: none;
    color: rgb(2, 2, 128);
}

nav {
    display: flex;  
   justify-content: center;
   border-bottom: 10px solid rgb(2, 2, 128);
}
nav ul {  /*   THIS IS VERY USEFUL TO CENTER ITEMS*/
        display: flex;
        align-items: center;
        justify-content: center;
}
 li {
    list-style: none;
}
nav ul li a{
    display: block;
    float:left;
    color: rgb(2, 2, 128); 
    text-decoration: none;
    margin-left: 60px;
    font-size: 140%;
    font-family: PermanentMarker-Regular;
    text-transform: uppercase;
}

nav ul li a:hover{
    border-bottom: 2px solid;
}
.social-icons  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:50px;
}

.social-icons ul li a   {margin-left: 4px;}

.facebook{
    width:40px;
    height:40px;
    border-radius: 10px;
}
.youtube {
    width:40px;
    height:40px;
}
.twitter{
    width:40px;
    height:40px;
}

.instagram {
    width:40px;
    height:40px;
}

/*----------------SIDE BAR STYLE--------------*/


/*--------------------------------drop menu-------------*/


.drop-button {
    background-color: rgb(2, 2, 128);
    color: white;
    padding: 10px 50px 10px 50px;
    font-size: 160%;
    font-family: PermanentMarker-Regular;
    letter-spacing: 2px;
    border: none;
    border-radius: 5%;
}

.dropdown {
    margin-left: 50px;
    position: relative;
    display: inline-block;
}


.discover-list {
  display: none;
  position: absolute;
  background-color: #c5e6f3;
  opacity: 80%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.discover-list a {
    font-family: PermanentMarker-Regular;
    font-size: 120%;
    color: black;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.discover-list a:hover {background-color: rgb(2, 2, 128); color:#fff; border-radius: 5%;}

/* Show the dropdown menu on hover */
.dropdown:hover .discover-list {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*-----------------CONTENT AREA STYLES------------------*/

.content1{
    justify-content: center;
    text-align: center;
    font-size: 150%;
    font-family: PermanentMarker-Regular;  
}

.content2 {
    justify-content: center;
    text-align: center;
    font-size: 150%;
    font-family: PermanentMarker-Regular; 
}

.content3 {
    justify-content: center;
    text-align: center;
    font-size: 150%;
    font-family: PermanentMarker-Regular; 
}   
.p1{
    color: #fff;
    background-color: rgb(20, 75, 77);
    opacity: 70%;
}
.p2{
    color: #fff;
    background-color: rgb(20, 75, 77);
    opacity: 70%;
}
.p3{
    color: #fff;
    background-color: rgb(20, 75, 77);
    opacity: 70%;
}



footer {
    justify-content: center;
    text-align: center;
    font-size: 100%;
    font-family: PermanentMarker-Regular; 
}

footer  {
    color: #fff;
    background-color: rgb(20, 75, 77);
    opacity: 70%
}
















/*----------------------------RESPONSIVE GRID DESIGN   XS - MOBILE DEVICE --------------------------------------------*/

@media screen and (max-width: 500px){


    .container{      
        border-bottom: none;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            'nav'
            'sidebar'
            'main'
            'content1'
            'content2'
            'content3'
            'footer';
    } 

    .container {
        background-image: none;
    }
    
    

    /*-----------------------------navbar  xs------------------------------*/
   
.explore {  
    font-size: 500%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: PermanentMarker-Regular;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.explore a {
    text-decoration: none;
    color: rgb(2, 2, 128);
}

nav {
    display: flex;  
    justify-content: center;
    width:500px
   
}
nav ul {  /*   THIS IS VERY USEFUL TO CENTER ITEMS*/
        align-items: center;
        justify-content: center;
}
 li {
    list-style: none;
}
nav ul li a{
    display: none;    
}


/*--------------------------------end of xs navbaar-----------------------*/

.main1 {
    background-image: none;
}

.content1{
    justify-content: center;
    text-align: left;
    font-size: 150%;
    font-family: PermanentMarker-Regular;  
}

.content2 {
    justify-content: center;
    text-align: left;
    font-size: 150%;
    font-family: PermanentMarker-Regular; 
}

.content3 {
    justify-content: center;
    text-align: left;
    font-size: 150%;
    font-family: PermanentMarker-Regular; 
}   
.p1{
    color: #fff;
    background-color: rgb(20, 75, 77);
    opacity: 70%;
    font-size: 150%;
}
.p2{
    color: #fff;
    background-color: rgb(20, 75, 77);
    opacity: 70%;
    font-size: 150%;
}
.p3{
    color: #fff;
    background-color: rgb(20, 75, 77);
    opacity: 70%;
    font-size: 150%;
}

.sidebar {
    display: none;
}



    
  
}
    
